//GoogleFonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

//Fam
$mainFont: 'Roboto', sans-serif;

//Variedades
$regular: 400;
$light: 100;
$italic: 100;

//Tamaño
$fsz-lg: 4em;
$fsz-md: 2.5em;
$fsz-sm: 2em;
$fsz-xsm: 1.2em;
$fsz-xxsm: 1em;